@model Shift

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSwapRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSwapRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGivenAway)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGivenAway)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAbsent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAbsent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
